{% extends 'base.html.twig' %}

{% block title %}Shop - FlowUp
{% endblock %}

{% block content %}
	<div class="row ">

		<div class="col-md-4">
			<img src="/uploads/{{produit.Illustration}}" alt="{{produit.nom}}" class="img-fluid">
		</div>
		<div class="col-md-8">
			<h3>{{produit.nom}}</h3>
			<p>{{produit.SousTitre}}</p>
			<p class="prix">{{(produit.prix /100)|number_format(0, '', ' ')}}
				FCFA</p>

			<hr>
			<p>{{produit.description}}</p>
			<a href="{{path("cartadd",{'id' : produit.id})}}" class="btn btn-warning">Ajouter au panier</a>
		</div>


	</div>

</div>{% endblock %}
